<div class="bottom-div">
    <div class="bottom-div-container">
        <p class="left-text"> Report No:<span class="report-number">
                <%= reportNumber %>
            </span> |
            <span>
                <%= dateTime %>
            </span>
        </p>
        <p class="right-text">
            <%= pageNo < 10 ? '0' + pageNo : pageNo %>
        </p>
    </div>
</div>


<!-- </div> -->