<!-- <div id="main-div"> -->
    <div class="top-div">
        <div class="top-div-one">
            <div class="oil-small-image">
                <!-- place image here. whether to keep it in an image tag or not -->
            </div>
            <span></span>
            <div>
                <p class="bpmarrk-two-title">BPMARRK 2.0</p>
            </div>
        </div>
    </div>