<footer
    style="position: fixed; left: 0; right: 0; bottom: 0; text-align: center; background-color: white; padding: 10px; border-top: 1px solid #000;">
    <p>© 2024 Student Management System</p>

</footer>